<div class="navbar navbar-expand-sm navbar-dark navbar-fixed-top bg-dark" style="margin-bottom:30px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Session["UserName"] != null)
            {
                @Html.ActionLink("Profile", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Posts", "Index", "Post", new { area = "" }, new { @class = "navbar-brand" })</li>
                @if (Session["UserName"] != null)
                {
                    <li class="nav-item">@Html.ActionLink("Users", "Index", "ArticleType", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("PostsRequests", "Index", "ArticleType", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="nav-item">@Html.ActionLink("ArticleTypes", "Index", "ArticleType", new { area = "" }, new { @class = "navbar-brand" })</li>
                }

            </ul>
            <ul class="nav navbar-nav ms-auto">
                @if (Session["UserName"] == null)
                {
                   <li class="nav-item">@Html.ActionLink("Login", "Login", "Authentication", new { area = "" }, new { @class = "navbar-brand" })</li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Authentication", new { area = "" }, new { @class = "navbar-brand" })</li>
                }
            </ul>
        </div>
    </div>
</div>