@model IEnumerable<PressAgencySystem.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ViewerLayout.cshtml";
    if (Session["UserRole"] != null)
    {
        if (Session["UserRole"].ToString() == "Admin" || Session["UserRole"].ToString() == "Editor")
        {
            Response.Redirect("~/Authentication/Login");
        }
    }

}

<h2>Timeline</h2>


@using (Html.BeginForm("Search", "Viewer", FormMethod.Get))
{
    <div class="form-group d-flex" style="margin:10px 0">
        <input type="text" class="form-control" name="Search" id="search">
        <input type="submit" class="btn btn-info" value="Filter" style="margin:0 10px">
    </div>

}

@if (Session["UserRole"] == null)
{
    <p>
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#loginModal">Create New</a>
    </p>

}

<div class="modal fade hide" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Login</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "Viewer", FormMethod.Get))
                {
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                    <div class="form-group" style="margin:0 0 15px 0">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <input type="submit" class="btn btn-info" value="Login" style="margin:0 10px">
                    @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-primary" })
                }
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="card text-center" style="margin:30px 0; height:540px">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.Creator.UserName)
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <div style="width: 30%; height: 300px; margin:auto">
                <img class="card-img" src="@Url.Content(item.ImagePath)" alt="@item.ImagePath s" style="width: 100%; height: 100%" />
            </div>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description).</p>
            @{
                if (Session["UserRole"] == null)
                {
                   <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Details</a>
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                }
            }
        </div>
        <div class="card-footer text-muted">
            @Html.DisplayFor(modelItem => item.CreatedDate)   |   @Html.DisplayFor(modelItem => item.Views) Views
        </div>
    </div>
}

@*
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th></th>
        <th>Actions</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @{
                    <div style="width:30px ; max-height:40px">
                        <img style="width:100%" src="@Url.Content(item.ImagePath)" alt="@item.ImagePath" />

                    </div>

                }
            </td>
            @if (Session["UserRole"] == null)
            {
                <td>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Details</a>
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            }
        </tr>
    }

</table>
    *@