@model IEnumerable<PressAgencySystem.Models.Post>

@{
    ViewBag.Title = "Index";
    
        if (Session["UserName"] == null || Session["UserRole"].ToString() == "Viewer")
        {
            Response.Redirect("~/Authentication/Login");
        }
    
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Views)
        </th>
        <th></th>
        <th>Actions</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @{
                    <div style="width:30px ; max-height:40px">
                        <img style="width:100%" src="@Url.Content(item.ImagePath)" alt="@item.ImagePath" />

                    </div>

            }
        </td>
        <td>
            @{
                if (Session["UserRole"] == "Admin")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary", @style = "margin:0 5px" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })

                }


            }
        </td>
    </tr>
}

</table>
