@model PressAgencySystem.Models.User

@{
    ViewBag.Title = "Index";
    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Authentication/Login");
    }
}

<h2>Your Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Role
        </dt>

        <dd>
            @Session["UserRole"]
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id } , new { @class = "btn btn-primary"}) 
</p>
